<div class="container">
<div class="card w-10" style="width: 15rem;" ng-show="action == 'clienteNewCertificado' || action == 'view' || action == 'adminNewCertificado'">
	<h5 class="card-header">{{title}}</h5>
</div>
<form class="col-md-4 mt-4" ng-submit="saveCertificado()">
	<div class="form-group" ng-show="currentUser.rol == 'admin'">
		<label for="cert_titulo"><h6>Titulo</h6></label>
		<input type="text"
			id="cert_titulo"
			placeholder="Titulo"
			tabindex="1"
			ng-model="certificado.titulo"
			ng-disabled="action == 'view'"
			ng-class="action == 'view' ? 'form-control-plaintext' : 'form-control'">
	</div>
	<div class="form-group" ng-show="action == 'clienteNewCertificado'">
		<label for="cert_tipo"><h6>Tipo de certificado</h6></label>
		<select name="cert_tipo"
			id="cert_tipo"
			tabindex="2"
			ng-model="certificado.tipo"
			ng-class="action == 'view' ? 'form-control-plaintext' : 'form-control'"
			ng-options="certificado.titulo for certificado in certificados track by certificado.id">
		</select>
	</div>
	<div class="form-group" ng-hide="action == 'clienteNewCertificado'">
		<label for="cert_descripcion"><h6>Descripción</h6></label>
		<textarea type="text"
				id="cert_descripcion"
				placeholder="Descripción"
				tabindex="3"
				ng-model="certificado.descripcion"
				ng-disabled="action == 'view'"
				ng-class="action == 'view' ? 'form-control-plaintext' : 'form-control'"></textarea>
	</div>
	<div class="form-group" ng-hide="currentUser.rol == 'admin'">
		<label for="cert_fecha"><h6>Fecha de vencimiento de certificado</h6></label>
		<!-- <div class="col-md-3"> -->
			<input type="date"
					ng-disabled="action == 'view'"
					id="cert_fecha"
					tabindex="4"
					ng-model="certificado.fecha"
					value={{certificado.fecha}}
					ng-class="action == 'view' ? 'form-control-plaintext' : 'form-control'">
		<!-- </div> -->
	</div>
	<div class="form-group" ng-show="action == 'adminNewCertificado' || action=='edit'">
		<label for="cert_rubro">Rubro</label>
		<select name="cert_rubro"
				id="cert_rubro"
				tabindex="5"
				ng-model="certificado.rubro"
				ng-class="action == 'viewPost' ? 'form-control-plaintext' : 'form-control'"
				ng-options="rubro.nombre for rubro in rubros track by rubro.id">
		</select>
	</div>
	<div class="form-group" ng-show="action == 'view' && currentUser.rol == 'admin'">
		<label for="cert_rubro"><h6>Rubro</h6></label>
		<input type="text"
			id="cert_rubro"
			ng-model="certificado.rubro"
			ng-disabled="action == 'view'"
			ng-class="action == 'view' ? 'form-control-plaintext' : 'form-control'">
	</div>
	<div class="form-group form-inline" ng-show="action == 'adminNewCertificado'">
		<label class="px-2" for="cert_obligatorio">Obligatorio</label>
		<input type="checkbox"
			class="float-right form-control"
			id="cert_obligatorio"
			tabindex="6"
			checked
			ng-model="certificado.obligatorio">
	</div>
	<button type="button"
			class="btn btn-primary waves-effect"
			ng-show="action == 'view' && currentUser.rol == 'proveedor'"
			ui-sref="certificadosList({id: certificado.proveedor_id})"
			tabindex="7">Volver
	</button>
	<button type="submit"
			class="btn btn-primary waves-effect"
			ng-show="action != 'view'"
			tabindex="7">{{button}}</button>
</form>
</div>