<div class="container">
<div ng-show="action == 'new'">
<div class="card w-10" style="width: 15rem;">
	<h5 class="card-header">Crear cuenta cliente</h5>
</div>
	<span>Completar los campos obligatorios (*)</span>
	<div class="form-group">
  		<a class="account-section-link"
  			ui-sref="loginSelect">
			¿Ya tenés cuenta? Ingresá
		</a>
	</div>
</div>
<div class="card w-10" style="width: 18rem;" ng-show="action == 'edit'">
	<h5 class="card-header">Editar datos de cliente</h5>
</div>

<!-- <form class="col-md-4 mt-4" ng-submit="saveCliente()" onsubmit="return confirm('Cliente creado');"> -->
<form class="col-md-4 mt-4" ng-submit="saveCliente()" name="clienteForm">
	<style>
		input.ng-invalid.ng-dirty{border:1px solid red;}
	</style>
	<div class="form-group">
		<label for="cliente_nombre"><h6>Nombre (*)</h6></label>
		<input type="text"
			id="cliente_nombre"
			placeholder="Nombre"
			tabindex="1"
			required
			ng-model="Cliente.nombre"
			ng-disabled="action == 'view'"
			ng-class="action == 'view' ? 'form-control-plaintext' : 'form-control'">
	</div>
	<div class="form-group">
		<label for="cliente_apellido"><h6>Apellido (*)</h6></label>
		<input type="text"
			id="cliente_apellido"
			placeholder="Apellido"
			tabindex="2"
			required
			ng-model="Cliente.apellido"
			ng-disabled="action == 'view'"
			ng-class="action == 'view' ? 'form-control-plaintext' : 'form-control'">
	</div>
	<div class="form-group">
		<label for="cliente_email"><h6>E-mail (*)</h6></label>
		<input type="email"
			id="cliente_email"
			placeholder="E-mail"
			tabindex="3"
			required
			ng-model="Cliente.email"
			ng-disabled="action == 'view'"
			ng-class="action == 'view' ? 'form-control-plaintext' : 'form-control'">
	</div>
	<div class="form-group" ng-show="action != 'new'">
		<label for="cliente_bio"><h6>Biografía</h6></label>
		<input type="text"
			id="cliente_bio"
			placeholder="Biografía"
			tabindex="4"
			ng-model="Cliente.bio"
			ng-disabled="action == 'view'"
			ng-class="action == 'view' ? 'form-control-plaintext' : 'form-control'">
	</div>
	<div class="form-group" ng-show="action=='new'">
		<label for="cliente_password"><h6>Contraseña (*) (mínimo de 4)</h6></label>
		<input type="password"
			id="cliente_password"
			placeholder="Contraseña"
			tabindex="5"
			required
			ng-model="Cliente.password"
			ng-disabled="action == 'view'"
			ng-class="action == 'view' ? 'form-control-plaintext' : 'form-control'">
	</div>
	<div class="form-group" ng-show="action=='new'">
		<label for="cliente_password"><h6>Vuelva a ingresar la contraseña (*)</h6></label>
		<input type="password"
			id="confirm_password"
			placeholder="Confirmar contraseña"
			tabindex="5"
			required
			ng-disabled="action == 'view'"
			ng-class="action == 'view' ? 'form-control-plaintext' : 'form-control'">
	</div>

	<!-- <div class="form-group" ng-show="action=='edit'">
		<label for="cliente_pass"><h6>Cambiar contraseña</h6></label>
		<input type="password"
			id="cliente_pass"
			placeholder="Cambiar contraseña"
			tabindex="5"
			required
			ng-model="Cliente.password"
			ng-class="action == 'view' ? 'form-control-plaintext' : 'form-control'">
	</div>
	<div class="form-group" ng-show="action=='edit'">
		<label for="confirm_pass"><h6>Confirmar contraseña</h6></label>
		<input type="password"
			id="confirm_pass"
			placeholder="Confirmar contraseña"
			tabindex="5"
			required="actio=='new'"
			ng-class="action == 'view' ? 'form-control-plaintext' : 'form-control'">
	</div> -->
	<a class="account-section-link"
		ng-show="action=='edit'"
		ui-sref="cambiarPasswordCliente">
    	Cambiar contraseña
	</a>
	<p></p>
	<button type="submit"
			class="btn btn-primary waves-effect"
			ng-show="action == 'new'"
			ng-disabled="clienteForm.$invalid"
			tabindex="6">Crear cuenta
	</button>
	<button type="action"
			class="btn btn-primary waves-effect"
			ng-show="action == 'edit'"
			ng-click="saveCliente()"
			tabindex="6">Guardar
	</button>
</form>
</div>