<!-- public/views/authView.html -->

<div class="d-flex justify-content-center pt-3">
    <div class="row">
        <div class="col-6 offset-md-3 col-md-3">
            <h3>Proveedor</h3>
            <a class="btn btn-lg px-3 btn-primary" ui-sref="loginProveedor" role="button"><img class="img-fluid" src="/assets/page-images/proveedor-login.png" alt="proveedor-icon"></a>
        </div>
        <div class="col-6 col-md-3">
            <h3>Cliente</h3>
            <a class="btn btn-lg px-3 btn-primary" ui-sref="loginCliente" role="button"><img class="img-fluid" src="/assets/page-images/cliente-login.png" alt="cliente-icon"></a>
        </div>
    </div>
</div>
<div class="container p-5 m-5">
    <a ui-sref="loginAdmin">Soy administrador de esta página</a>
</div>